DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_NAME=ml_service
DATABASE_USER=ml_user
DATABASE_PASSWORD=ml_password
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=ml_user
RABBITMQ_PASSWORD=ml_password
AUTH_SECRET=change_this_secret
AUTH_TOKEN_TTL_MINUTES=1440
RABBITMQ_QUEUE=ml_tasks
