DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_NAME=ml_service
DATABASE_USER=ml_user
DATABASE_PASSWORD=change_me
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
